@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --color-Alumco-blue: #205099;
    --color-Alumco-green: #AFDD83;
    --color-Alumco-coral: #FF6364;
    --color-Alumco-yellow: #F8B606;
    --color-Alumco-cyan: #A5B6F5;
    --color-Alumco-gray: #4A4A4A;
    --color-Alumco-cream: #FDF9F3; 

    --font-sans: 'Fira Sans', sans-serif;
    --font-display: 'Sora', sans-serif;
    --font-logo: 'Nexa Black', sans-serif;
}
